@media only screen and (min-width: 950px) {
    header img {
      width: 100%;
    }
  
    header,
    footer {
      max-width: 2500px;
      margin: 0 auto;
      border: 1px double;
    }
  
    body {
      max-width: 2500px;
      margin: 0 auto;
      border: 1px double;
    }
    .herodiv {
        margin: 0 auto;
        position: relative;
        font-weight: 500;
        max-height: 30%;
      }
    }