@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.1em;
  }

  html {  
        background-color: #5B7B7A;   
  }

  body {
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
  }
  
  h1,
  h2 {
    font-family: 'Potta One', cursive;
    font-size: 50px;

  }
  
  h3,
  h4 {
    font-family: 'Quicksand', sans-serif;
  }

  header {
    background-color: #CEB5A7;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header img {
    height: 140px;
    width: auto;
    
  }


  .headings {
    display: flex;
    flex-direction: column;
  }

  .headings h1 {
    font-size: 60px;
    margin: 0 10px 0 5px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  
  .motto {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 30px;
    font-weight: 200;
  }

  img {
    /* use for very large image scale to correct size */
    max-width: 100%;
    max-height: 100%;
    display: flex; /* use display block to remove extra space below image */
  }

  main {
  max-width: 1300px;
  margin: 0 auto;
  background-color: rgb(245, 243, 232);
  padding: 0.5em;
}
  
.rescue-motto h2 {
    font-size: 30px;
    text-align: center;
    padding: 0 5px 0 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rescue-motto p {
    font-size: 20px;
    font-weight: 200;
    margin-left: 10px;
    margin-right: 10px;
}


.animalCards-list {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
}

.animalCard-link {
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 100%; 
}

.animalCards-img {
  box-shadow: 0 0 50px rgb(55, 56, 58);
}


footer {
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  background-color: #CEB5A7;
  padding: 0.5em;
}

.map {
  padding: 20px;
}
.contact {
  line-height: 2em;
  font-weight: 200;
}

.contact h2 {
  font-size: 50px;
  font-weight: bold;
}

.social {      
  display: flex;
  align-items: center;
  justify-content: center; 
}

.social-icon {
   display: inline-block; 
   margin: 10px 5px;
   
}


  
 
  
 

 
  